/* Animation CSS */

.titles {
  color: #686868;
}

.anim {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 75px;
  height: 75px;
  background: rgb(97, 218, 251);
  border-radius: 8px;
  left: 0px;
  top: 0px;
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
}

.function-name {
  font-size: 18px;
  margin-top: 15px;
}

.properties {
  font-size: 18px;
  margin-top: 15px;
}

.fanim {
  position: relative;
  top: 10px;
  font-size: 16px;
  color: #686868;
}

.combo-anim {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 75px;
  height: 75px;
  background: rgb(97, 218, 251);
  border-radius: 8px;
  left: 0px;
  top: 0px;
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  box-shadow: 0px 0px 8px #686868;
}
